body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0e0;
}
header {
    background-color: #9caf60;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    color: #7a4b28;
    margin: 0;
    padding-left: 20px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
nav .nav-center a {
    text-decoration: none;
    color: #4b3b28;
    margin: 0 20px;
    padding-bottom: 5px;
}
nav .nav-center a:hover, nav .nav-center a.active {
    border-bottom: 2px solid #4b3b28;
}
.container {
    margin: 20px;
}
.title-bar {
    background-color: #b5ae92;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.warning {
    margin-top: 10px;
    color: #7a4b28;
    font-size: 0.9em;
}
.items {
    background-color: #d9e2ba;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.item-list {
    width: 70%;
}
.item {
    display: grid;
    grid-template-columns: 1fr 80px 40px;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.item input {
    width: 50px;
    text-align: center;
    background-color: #c7d3a6;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.item button {
    background-color: #c7d3a6;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.item button:hover {
    background-color: #a3b675;
}
.order-info {
    width: 25%;
    text-align: center;
}
.generate-button {
    background-color: #b5ae92;
    border: none;
    padding: 30px 60px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 40px;
    

}
.generate-button:hover {
    background-color: #9caf60;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
}

.titulo-comanda {
    color: #7a4b28;
}

.tabela-comanda {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabela-comanda th {
    background-color: #b5ae92;
    color: #4b3b28;
    padding: 8px;
    border-bottom: 2px solid #7a4b28;
}

.tabela-comanda td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
}

.total-comanda {
    color: #7a4b28;
    margin-top: 15px;
}

.fechar-comanda {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #9caf60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fechar-comanda:hover {
    background-color: #7a4b28;
}